@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}
.container {
  border: 1px solid white;
  width: 60%;
  margin: auto;
  box-shadow: 100px;
}
.main {
  background-color: #00425a;
  border-radius: 2rem;
}
.sec {
  margin: 2rem;
}
.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid #fc7300;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 20px;
  background-color: #fc7300;
  color: white;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 270px;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 15px 0px;
  border: 2px solid #00425a;
  border-radius: 5px;
  text-align: right;
  padding-right: 2rem;
  background-color: #f6f1e9;
  border-radius: 100px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
